---
import "../styles/global.css"
import BaseHTML from "../layouts/BaseHTML.astro"
import BookReading from "../components/BookReading.astro"
import { Image } from "astro:assets"
import theFool from "../images/cbd_tarot/a22.jpg"
import papesse from "../images/cbd_tarot/a02.jpg"
import fortitude from "../images/cbd_tarot/a11.jpg"
import theTower from "../images/cbd_tarot/a16.jpg"
import theWorld from "../images/cbd_tarot/a21.jpg"
---

<BaseHTML title="About Agnostic Tarot">
  <h2>Welcome to Agnostic Tarot!</h2>
  <p>
    Agnostic tarot is a learning and reading system for beginners that avoids
    all spiritual, psychological and magickal associations. If you are new to
    card reading, or new to reading pip decks, this method is for you. You just
    need a deck and some guidance.
  </p>
  <div class="center-txt">
    <a href="/posts/buying-a-deck">Buying a Deck</a>
    <span>&clubs;</span>
    <a href="/posts/introduction">Introduction</a>
  </div>

  <div class="card-row">
    <Image
      src={theFool}
      alt="The Fool"
      title="The Fool"
    />
    <Image
      src={papesse}
      alt="Papesse"
      title="Papesse"
      class="hidden"
    />
    <Image
      src={fortitude}
      alt="Fortitude"
      title="Fortitude"
    />
    <Image
      src={theTower}
      alt="The House God"
      title="The House God"
      class="hidden"
    />
    <Image
      src={theWorld}
      alt="The World"
      title="The World"
    />
  </div>
</BaseHTML>
