---
import "../styles/global.css"
import BaseHTML from "../layouts/BaseHTML.astro"
import BookReading from "../components/BookReading.astro"
import { Image } from "astro:assets"
import theFool from "../images/cbd_tarot/a22.jpg"
import papesse from "../images/cbd_tarot/a02.jpg"
import fortitude from "../images/cbd_tarot/a11.jpg"
import theTower from "../images/cbd_tarot/a16.jpg"
import theWorld from "../images/cbd_tarot/a21.jpg"
---

<BaseHTML title="About Agnostic Tarot">
  <h2>About Agnostic Tarot</h2>
  <p>
    Welcome to Agnostic Tarot, the cartomancy learning system created by C.M.
    Fredricksen. Agnostic Tarot empowers the reader with down to earth reading
    exercises and simple meanings while avoiding complex <em>meta</em> card definitions.
  </p>
  <p>
    We know tarot works, but no one can be sure exactly <span
      style="font-style: italic;">how</span
    > it works. The good news is that you don't have to know how it works to do tarot
    readings. Using Agnostic Tarot, you can start practicing card reading right away.
    Once you have the basics down, you can follow your interests and deepen your understanding
    of cartomancy.
  </p>

  <div class="center-txt">
    <span>&clubs;</span>
    <strong>
      <a href="/posts/introduction">Introduction</a>
    </strong>
  </div>

  <div class="card-row">
    <Image
      src={theFool}
      alt="The Fool"
      title="The Fool"
    />
    <Image
      src={papesse}
      alt="Papesse"
      title="Papesse"
      class="hidden"
    />
    <Image
      src={fortitude}
      alt="Fortitude"
      title="Fortitude"
    />
    <Image
      src={theTower}
      alt="The House God"
      title="The House God"
      class="hidden"
    />
    <Image
      src={theWorld}
      alt="The World"
      title="The World"
    />
  </div>
  <p>
    I developed this system after years of experience and practice. I have
    picked up different ideas and methods along the way and have incorporated
    them into Agnostic Tarot.
  </p>
  <strong>
    There are no spirits, energies, magic, psychology, or anything else complex
    connected to Agnostic Tarot.
  </strong>
  <p>
    Cartomancy is said to be for entertainment purposes only. I would add that
    it is also for enrichment and creative problem solving. But the point is,
    you are always in control with tarot. If a reading doesn't resonate, leave
    it. Take what is useful for you.
  </p>
  <p>
    As you practice reading your intuition will grow stronger, along with your
    awareness. The more you handle the cards, the better you will get at reading
    the cards. Get familiar with your deck, every time you play with the cards,
    you will learn something new. Memorize pip meanings, and you can read any
    deck using those meanings.
  </p>
</BaseHTML>
