---
import "../styles/global.css"
import BaseHTML from "../layouts/BaseHTML.astro"
import { Image } from "astro:assets"
import theFool from "../images/cbd_tarot/a22.jpg"
import papesse from "../images/cbd_tarot/a02.jpg"
import fortitude from "../images/cbd_tarot/a11.jpg"
import theTower from "../images/cbd_tarot/a16.jpg"
import theWorld from "../images/cbd_tarot/a21.jpg"
---

<BaseHTML title="About Agnostic Tarot">
  <section class="hero">
    <p>
      Agnostic tarot is for everyone. There are no barriers to entry. You just
      need a deck and some guidance to get started.
    </p>
    <div class="card-row">
      <Image
        src={theFool}
        alt="The Fool"
        title="The Fool"
      />
      <Image
        src={papesse}
        alt="Papesse"
        title="Papesse"
        class="hidden"
      />
      <Image
        src={fortitude}
        alt="Fortitude"
        title="Fortitude"
        class="hidden"
      />
      <Image
        src={theTower}
        alt="The House God"
        title="The House God"
        class="hidden"
      />
      <Image
        src={theWorld}
        alt="The World"
        title="The World"
      />
    </div>
    <p>
      There is no magic required. You don't have to be gifted your first deck,
      or burn incense to cleanse your deck, or believe and practice any of the
      many many "rules" you will hear about tarot. These things can enhance the
      experience - but are not required. Once you are comfortable with your deck
      and reading cards, even at a beginners level, you can incorporate any and
      all beliefs and rituals that you want. Or none of them.
    </p>
    <p>
      I have my own practices around tarot, and they have changed over the years
      as I have learned and grown. Each person should do whatever works for
      them. That will be different for each reader, so we should be careful
      about trying to gatekeep tarot reading by making strict rules around the
      practice. Every rule is an obstacle to learning to read.
    </p>
    <p>
      There is no authority in tarot. There is the wisdom gained by those who
      have gone before, and it holds great value. Yet, learning to read tarot
      takes experience, memorizing card meanings is only the beginning. As
      experience is gained your knowledge will expand beyond the initial
      meanings you learn.
    </p>
    <p>
      So in Agnostic Tarot we focus more on the practice of reading, starting
      with basic memorization and simple reading exercises. You handle the cards
      while learning the most basic meanings. You become comfortable using them
      and will begin noticing more details about them. This is when the real fun
      begins, and your understanding grows.
    </p>
    <p>
      I have over 30 years of experience reading tarot. It is an effective tool
      for clearing up confusion and seeing other paths to our goals. The imagery
      and randomness of cartomancy sidestep the anxious mind allowing us to have
      new perspectives.
    </p>
  </section>
</BaseHTML>

<style>
  img {
    /* object-fit: contain; */
    /* width: 114px; */
    /* height: 228px; */
  }
</style>
