---
import "../styles/global.css"
import BaseHTML from "../layouts/BaseHTML.astro"
import BookReading from "../components/BookReading.astro"
import { Image } from "astro:assets"
import theFool from "../images/cbd_tarot/a22.jpg"
import papesse from "../images/cbd_tarot/a02.jpg"
import fortitude from "../images/cbd_tarot/a11.jpg"
import theTower from "../images/cbd_tarot/a16.jpg"
import theWorld from "../images/cbd_tarot/a21.jpg"
---

<BaseHTML title="About Agnostic Tarot">
  <section class="hero">
    <h2>Welcome to Agnostic Tarot!</h2>
    <p>
      Tarot is an accessible tool for creative thinking, inspiration, and
      problem solving. Agnostic tarot is a learning and reading system for
      beginners that avoids all spiritual, psychological and magickal
      associations. If you are new to card reading, or new to reading pip decks,
      you can get started right away. You just need a deck and some guidance.
      <a href="/posts/buying-a-deck">Buying a Deck</a>
      <a href="/posts/introduction">Introduction</a>
    </p>

    <div class="card-row">
      <Image
        src={theFool}
        alt="The Fool"
        title="The Fool"
      />
      <Image
        src={papesse}
        alt="Papesse"
        title="Papesse"
        class="hidden"
      />
      <Image
        src={fortitude}
        alt="Fortitude"
        title="Fortitude"
        class="hidden"
      />
      <Image
        src={theTower}
        alt="The House God"
        title="The House God"
        class="hidden"
      />
      <Image
        src={theWorld}
        alt="The World"
        title="The World"
      />
    </div>

    <p>
      Agnostic tarot works by getting regular practice reading the cards. So the
      approach is light hearted and fun. It is challenging too, like any good
      game. Once you learn how to read, then you will begin to understand the
      cards on a deeper level. At that point, you can expand your knowledge if
      you want to. There are a myriad of possible paths you can take.
    </p>

    <p>
      But you don't have to take it any further. Tarot is fun, and it is
      beautiful. You can collect decks, you can use them for meditation tools,
      and as journaling prompts. Or you can keep a deck handy to pull a card to
      give yourself some clarity as needed.
    </p>

    <p>
      The goal of this website is to give people a way to use tarot cards
      without all of the "woo" that is associated with it. There is some
      gatekeeping when it comes to tarot, and a bunch of rules and superstitions
      too. That is a deterrent to many people from cartomancy as a whole. And
      reading cards is a great thinking tool, as a practical matter. No woo
      needed.
    </p>
  </section>

  <style>
    img {
      /* object-fit: contain; */
      /* width: 114px; */
      /* height: 228px; */
    }
    a {
      font-size: 1.25rem;
      background-color: burlywood;
      color: darkred;
    }
    a:hover {
      color: lightgoldenrodyellow;
    }
  </style>
</BaseHTML>
