---
import "../styles/global.css"
import BaseHTML from "../layouts/BaseHTML.astro"
import BookReading from "../components/BookReading.astro"
import { Image } from "astro:assets"
import theFool from "../images/cbd_tarot/a22.jpg"
import papesse from "../images/cbd_tarot/a02.jpg"
import fortitude from "../images/cbd_tarot/a11.jpg"
import theTower from "../images/cbd_tarot/a16.jpg"
import theWorld from "../images/cbd_tarot/a21.jpg"
---

<BaseHTML title="About Agnostic Tarot">
  <p>
    Welcome to Agnostic Tarot, the cartomancy learning system created by C.M.
    Fredricksen. Agnostic Tarot empowers the reader with down to earth reading
    exercises and simple meanings.
  </p>
  <p>
    I know tarot works, but I can't be sure exactly <span
      style="font-style: italic;">how</span
    > it works. The good news is that you don't have to know how it works to do tarot
    readings.
  </p>

  <div class="center-txt">
    <a href="/posts/buying-a-deck">Buying a Deck</a>
    <span>&clubs;</span>
    <a href="/posts/introduction">Introduction</a>
  </div>

  <div class="card-row">
    <Image
      src={theFool}
      alt="The Fool"
      title="The Fool"
    />
    <Image
      src={papesse}
      alt="Papesse"
      title="Papesse"
      class="hidden"
    />
    <Image
      src={fortitude}
      alt="Fortitude"
      title="Fortitude"
    />
    <Image
      src={theTower}
      alt="The House God"
      title="The House God"
      class="hidden"
    />
    <Image
      src={theWorld}
      alt="The World"
      title="The World"
    />
  </div>
  <p>
    There are no rules for Agnostic Tarot, only some guidelines to get you
    started. Trust me, I have tried and practiced several different reading
    systems and they all work to varying degrees. Some I am more drawn to and
    spend more time studying and practicing, others I set aside. But they are
    all valid, and they are all the best for whomever they are the best for.
  </p>
  <p>
    My purpose for creating Agnostic Tarot is to offer tarot as a tool to people
    who might be deterred by gatekeeping and myths surrounding cartomancy.
    Agnostic tarot is for practical use and enjoyment. There are no spirits,
    energies, magic, psychology, or anything else spiritual connected to
    Agnostic Tarot.
  </p>
  <p>
    Cartomancy is for entertainment purposes only. I would add that it is also
    for enrichment and brain storming too. But the point is, you are always in
    control with tarot. If a reading doesn't resonate, leave it. Take what is
    useful for you.
  </p>
  <p>
    As you practice reading your intuition will grow stronger, along with your
    awareness. Cartomancy is also really interesting with endless avenues of
    study and collection.
  </p>
</BaseHTML>
