---
import "../styles/global.css"
import BaseHTML from "../layouts/BaseHTML.astro"
import type { MarkdownInstance } from "astro"
interface Frontmatter {
  title: string
  description?: string
  path?: string
  url?: string
  tags: [string]
}

const posts = Object.values(
  import.meta.glob<MarkdownInstance<Frontmatter>>("./posts/*.mdx", {
    eager: true,
  })
)
---

<BaseHTML title="Agnostic Tarot Blog">
  {
    posts.map((post) => (
      <div class="links">
        <p class="lily">&#9884</p>
        <a href={post.frontmatter.path}>{post.frontmatter.title}</a>
        <p>{post.frontmatter.description}</p>
        <div class="tags">
          {post.frontmatter.tags.map((tag) => (
            <a href={`/tags/${tag}`}>
              <small>#{tag}</small>
            </a>
          ))}
        </div>
      </div>
    ))
  }
</BaseHTML>

<style>
  .links {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    background-color: lavenderblush;
    padding: 1rem;
  }
  .tags small {
    margin-right: 1rem;
  }
  a {
    /* margin: 1rem 0; */
    /* padding: 1.5rem; */
  }
</style>
