---
import "../styles/global.css"
import BaseHTML from "../layouts/BaseHTML.astro"
import type { MarkdownInstance } from "astro"
interface Frontmatter {
  title: string
  description?: string
  path?: string
  url?: string
  tags: [string]
}

const posts = Object.values(
  import.meta.glob<MarkdownInstance<Frontmatter>>("./posts/*.mdx", {
    eager: true,
  })
)
---

<BaseHTML title="Agnostic Tarot Blog">
  <div class="link-container">
    {
      posts.map((post) => (
        <div class="link">
          <a href={post.frontmatter.path}>{post.frontmatter.title}</a>
          <p>{post.frontmatter.description}</p>
          <div class="tags">
            {post.frontmatter.tags.map((tag) => (
              <a href={`/tags/${tag}`}>
                <small>#{tag}</small>
              </a>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</BaseHTML>
