---
import "../styles/global.css"
import BaseHTML from "./BaseHTML.astro"
import type { MarkdownLayoutProps } from "astro"

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string
  author: string
  date: string
  tags: [string]
  description: string
}>

const { frontmatter } = Astro.props
const tags = frontmatter.tags
---

<BaseHTML title={frontmatter.title}>
  <article>
    <h2>{frontmatter.title}</h2>
    <p>{frontmatter.description}</p>

    <ul class="tag-container">
        {tags.map((tag) => <a href=`/tags/${tag}`>#{tag} </a>)}
    </ul>

    <slot />

  </article>

</BaseHTML>
