---
import "../styles/global.css"
import BaseHTML from "./BaseHTML.astro"
import type { MarkdownLayoutProps } from "astro"

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string
  author: string
  date: string
  tags: [string]
  description: string
}>

const { frontmatter } = Astro.props
const tags = frontmatter.tags
---

<BaseHTML title={frontmatter.title}>
  <article>
    <div class="hero">
      <h2>{frontmatter.title}</h2>
      <p>{frontmatter.description}</p>
      <div class="tags">
        {tags.map((tag) => <a href=`/tags/${tag}`>#{tag} </a>)}
      </div>
    </div>
    
    <div class="text">
      <slot />
    </div>
  </article>
  
<style>
  article {
    // margin: 1rem auto;
    width: 100%;
  }

  .hero {
    flex-direction: column;
  }


  .tags {
    color: var(--clr-accent);
    font-size: 1rem;
    font-weight: bold;

    a {
      color: var(--clr-light);
      margin-right: .5rem;
    }
    a:hover {

      color: var(--clr-accent);
    }
  }

  .text {
    // margin: 0 1rem;

    p {
      color: var(--clr-dark);
    }

    li {

      a {
        color: var(--clr-light);
        background-color: var(--clr-dark);
      }
      a:hover {
        color: var(--clr-accent);
      }

    }
  }

  .info-text {
    color: var(--clr-light);
  }

</style>
  </BaseHTML>
